body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

#custom-dashboard-builder {
  width: 100%;
}

#custom-dashboard-builder li.checkbox {
  margin-left: 10px;
}

.dataTableWrapper {
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

.swatch {
  width: 10px;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-right: 3px;
  border-radius: 2px;
}

.legend {
display: inline-block;
vertical-align: top;
}

.charts {
display: inline-block;
position: relative;
background-color: white;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

circle {
  fill-opacity: .8;
  stroke: #fff;
}

path {
	stroke: none;
	fill: none;
}
.axis {
  shape-rendering: crispEdges;
}
.x.axis line {
  stroke: lightgrey;
}
.x.axis .minor {
  stroke-opacity: .5;
}
.x.axis path {
  display: none;
}

.y.axis line {
  fill: none;
  stroke: lightgrey;
}

.y.axis path {
  fill: none;
  stroke: #000;
}

.title {
    font: 15px sans-serif;
    font-weight: bold;
}

.bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
}

.bar text {
    fill: #fff;
}

.legend {
    padding: 5px;
    font: 10px sans-serif;
    background: yellow;
    box-shadow: 2px 2px 1px #888;
}
